/*MAIN CSS*/
hmtl {}
body {
	margin: 0px;
	padding: 30px;
	padding-bottom: 30px;
	font-family: Monospace, sans-serif;
	background-color: #000;
	color: #FFF;
	max-width: 800px;
}

article {
	border-left : 10px solid #222;
	padding-left: 10px;
	margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6,p,hr { margin:0 0 10px 0;padding:0; }

h1 {
	font-size: 3em;
	color: #CCC;
}
h2 {
	font-size: 1.5em;;
	color: #AAA;
}
p {
	font-size: 1em;
	line-height: 1.3em;
	border-top: 1px dashed #555;
	padding-top: 10px;
}
a {
	color: #09F;
}
a img {
	border: 1px solid #09F;
}
hr {
	height: 5px;
	background: #0F9;
	border: 0px;
}
table, tr {
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	border-collapse: collapse;
}
table {
	margin-bottom: 10px;
}
td, th {
	text-align: left;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid #000;
}
td {
	vertical-align: top;
	background: #333;
	padding: 2px;
	padding-right: 10px;
}
table h3 {
	padding: 3px;
	margin: 0px;
}
pre {
	margin: 10px 0;
	padding: 3px;
	font-size: 1.1em;
	background: #555;
}
img {
	max-width: 100%;
}
p.shortcuts {
	background: #444;
	padding: 5px;
	border: none;
}
p.gallery a {
	margin: 0;
	padding: 0;
}
p.gallery img {
	margin: 0 5px 5px 0;
	padding: 0;
}
